.secondary-cursor{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  // background-color: #222;
  // transition: all 0.3s cubic-bezier(0, 0.1, 0.38, 1);
  backdrop-filter: invert(100%);
  z-index: 10000;
}

