.header-container {
	position: relative;
	.header-menu {
		position: absolute;
		left: 0;
		top: min(100px, 5vw);
		letter-spacing: 1px;
		font-size: max(1.7vw, 12px);
		font-family: "Syncopate", sans-serif;
		color: #626262;
		text-transform: uppercase;
    list-style: none;
    font-weight: 600;
		li {
			margin: 10px 0;
		}
	}
	#header-text {
		font-size: 16vw;
		padding-top: max(150px, 10vh);
		padding-bottom: 50px;
		text-transform: uppercase;
		text-align: center;
		font-family: "Bai Jamjuree", sans-serif;
		font-weight: 600;
    line-height: 1;
	}
}

.lineParent{
	overflow: hidden;
}
.lineChildren{
	transform: translate(0, 500px);
}