.navbar {
	display: flex;
	justify-content: space-between;
	margin-top: max(50px, 3vw);
	margin-bottom: max(50px, 3vw);
	font-size: clamp(8px, 3vw, 1.5rem);
	letter-spacing: 1px;
	font-family: "Syncopate", sans-serif;
	color: #464646;
	font-weight: 600;
	text-transform: uppercase;
}


